::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background: #ffffff; /* white background */
}

::-webkit-scrollbar-thumb {
	background-color: #cbd5e1; /* light gray thumb */
	border-radius: 9999px;
	border: 3px solid #ffffff; /* creates padding effect */
}

::-webkit-scrollbar-thumb:hover {
	background-color: #94a3b8;
}